
.cbx
  position: relative
  display: block
  float: left
  width: 18px
  height: 18px
  border-radius: 4px
  background-color: #606062 
  background-image: linear-gradient(#474749,#606062)
  box-shadow: inset 0 1px 1px rgba(white,.15), inset 0 -1px 1px rgba(black,.15)
  transition: all .15s ease
  svg
    position: absolute
    top: 3px
    left: 3px
    fill: none
    stroke-linecap: round
    stroke-linejoin: round
    stroke: white
    stroke-width: 2
    stroke-dasharray: 17
    stroke-dashoffset: 17
    transform: translate3d(0,0,0)
    
.rdo
  position: relative
  display: block
  float: left
  width: 18px
  height: 18px
  border-radius: 10px
  background-color: #606062 
  background-image: linear-gradient(#474749,#606062)
  box-shadow: inset 0 1px 1px rgba(white,.15), inset 0 -1px 1px rgba(black,.15)
  transition: all .15s ease
  &:after
    content: ""
    position: absolute
    display: block
    top: 6px
    left: 6px
    width: 6px
    height: 6px
    border-radius: 50%
    background: white
    opacity: 0
    transform: scale(0)
    
.cbx + span,
.rdo + span
  float: left
  margin-left: 6px
    
.forms
  margin: auto
  user-select: none
  
  label
    display: inline-block
    margin: 10px
    cursor: pointer
  
  input[type="checkbox"]
  input[type="radio"]
    position: absolute
    opacity: 0
  
  input[type="radio"]:checked + .rdo
    background-color: #606062 
    background-image: linear-gradient(#255CD2,#1D52C1)
    &:after
      opacity: 1
      transform: scale(1)
      transition: all .15s ease
    
  input[type="checkbox"]:checked + .cbx
    background-color: #606062 
    background-image: linear-gradient(#255CD2,#1D52C1)
    svg
      stroke-dashoffset: 0
      transition: all .15s ease